* {

padding: 0;
margin: 0;
block-size: auto;


}


#header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-height: 100px;
    background-color: rgba(173, 216, 230, 0.562);
    width: 100%;

}

#nav-bar {

display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

}

#nav-bar > ul {

list-style: none;

}